@import "../vars";

.PhoneMenu {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0; left: 0;
	color: #fff;
}

.PhoneMenu.open {
	.PhoneMenu-mouseCatcher {
		opacity: 1;
	}

	.PhoneMenu-menuWrap {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

.PhoneMenu-mouseCatcher {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;

	transition: opacity 0.1s;
}

.PhoneMenu-menuWrap {
	position: absolute;
	display: block;
	width: 280px;
	max-width: calc(100% - 32px);
	height: auto;
	padding: 8px 0px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;

	border-radius: 6px;
	background-color: #222;
	box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.7);

	user-select: none;

	transition: opacity 0.1s, transform 0.1s;

	hr {
		width: calc(100% - 8px);
		margin-left: 4px;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}
}

.PhoneMenu-menuOption {
	width: 100%;
	height: auto;
	position: relative;
	padding: 16px 24px;
	font-size: 18px;

	transition: background-color 0.2s;

	@include button;

	&:hover {
		background-color: rgba(255,255,255,0.05);
	}

	&:active {
		background-color: rgba(255,255,255,0.1);
	}
	
	& > .checkbox {
		width: 20px;
		height: 20px;
		background-color: transparent;
		border: 2px solid rgba(255,255,255,0.7);
		border-radius: 4px;
		padding: 0;
		top: 16px;
		left: 18px;
		position: absolute;
		cursor: pointer;

		&.checked {
			border: 2px solid transparent;
			background-color: rgba(255, 255, 255, 0.7);

			&::after {
				position: absolute;
				content: " ";
				display: block;
				top: 1px;
				left: 1px;
				width: 14px;
				height: 14px;
				background-image: url('/res/check.svg');
				background-size: 14px 14px;
				opacity: 0.8;
			}
		}
	}

	&.sub {
		position: relative;
		top: -4px;
		opacity: 0.6;
		padding: 4px 16px 8px 16px;
	}

	&.sub .checkbox {
		opacity: 0.6;
	}

	& > p {
		margin: 0;
		display: inline-block;
		position: relative;
		padding-left: 32px;

		font-family: "Roboto", sans-serif;
		font-weight: 400;
	
		@mixin icon {
			content: " ";
			position: absolute;
			opacity: 0.6;
			top: -2px;
			left: -8px;
			width: 24px;
			height: 24px;
			background-size: 24px 24px;
		}

		&.bloodwork::after {
			@include icon;
			background-image: url(/res/bloodwork.svg);
			filter: grayscale(100%) brightness(500%);
			opacity: 0.8;
		}

		&.imaging::after {
			@include icon;
			background-image: url(/res/imaging.svg);
			filter: grayscale(100%) brightness(500%);
			opacity: 0.8;
		}

		&.consult::after {
			@include icon;
			background-image: url(/res/consultation.svg);
			filter: grayscale(100%) brightness(500%);
			opacity: 0.8;
		}

		&.clipboard::after {
			@include icon;
			background-image: url(/res/clipboard.svg);
		}

		&.assign::after {
			@include icon;
			background-image: url(/res/assign.svg);
		}

		&.discharge::after {
			@include icon;
			background-image: url(/res/pending_discharge.svg);
		}

		&.message::after {
			@include icon;
			background-image: url(/res/message-mono.svg);
		}

		&.disable::after {
			@include icon;
			background-image: url(/res/disabled.svg);
		}
	}
}
