.PhoneApp {
  color: #fff;
  height: 100vh;
  padding-top: 64px;
  padding-bottom: 0px;
  overflow: auto;
}

.PhoneApp-header {
	height: 64px;
	background-color: #1c1c1c;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
	overflow: auto;
	user-select: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;

	& > h1 {
		text-align: center;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		font-size: 22px;
		margin-top: 19px;
		margin-bottom: 0;
		opacity: 0.7;
	}
}

.Phone-connectMessage {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 28px;
	text-align: center;
	margin-top: calc(50vh - 96px)
}
